<?js var data = obj || {}; ?>
<?js if (data.type && data.type.names) {?>
<dl>
    <dt>
        <?js= this.partial('type.tmpl', data.type.names) ?>
    </dt>
    <dd>
        &nbsp;<?js= data.description ?>
    </dd>
</dl>
<?js } ?>