@font-face {
    font-family: 'inconsolata';
    src: url('../fonts/inconsolata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: auto;
    background-color: white;
    font-size: 15px;
}

body {
    font-family: 'inconsolata', monospace;
    background-color: white;
    margin: 0;''
    color: #454545;
}

a, a:visited, a:active {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: block;
}

.class-description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

#main {
    margin-left: 260px;
    padding: 15px;
}

article dl {
    margin: 4px 0 0 0;
    height: 100%;
    font-size: 12px;
}

article dt {
    float: left;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 10px;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

nav {
    position: fixed;
    width: 260px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    padding: 15px;
    overflow-y: auto;
    background-color: whitesmoke;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    padding: 0 0 4px 0;
}

nav h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    padding-top: 4px;
    padding-left: 1px;
    font-size: 10px;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

h2, h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    margin-bottom: 12px;
    color: #EE0080;
}

h5 {
    margin: 16px 0 0 0;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid whitesmoke;
}

.container-overview {
    margin-bottom: 30px;
}

.container-overview .subsection-title {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

h6 {
    font-size: 15px;
    margin: 6px 0 3px 0;
    font-style: italic;
}

.ancestors {
    color: #999;
}

.ancestors a {
    color: #999 !important;
    text-decoration: none;
}

.clear {
    clear: both;
}

.important {
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    font-weight: normal;
    color: gray;
}

.details {
    margin: 8px 0 0 0;
    font-size: 12px;
}

.details dt {
    width: 120px;
    float: left;
    padding-top: 6px;
}

.details dd {
    margin-left: 70px;
}

.details ul {
    margin: 0;
    padding: 0;
}

.details ul {
    list-style-type: none;
}

.details li {
    margin-left: 30px;
    padding-top: 6px;
}

.details pre.prettyprint {
    margin: 0
}

.details .object-value {
    padding-top: 0;
}

.description {
    padding: 4px 0 4px 0;
}

.code-caption {
    font-style: italic;
    font-size: 15px;
    margin: 0;
}

.prettyprint {
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
    color: lightgray;
    font-size: 12px;
    margin: 5px 0 0 0;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint.source code {
    padding: 0;
}

.prettyprint code {
    font-family: 'inconsolata';
    line-height: 18px;
    display: block;
    padding: 6px 10px 10px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    padding-left: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li {
    border-left: 1px #ddd solid;
    padding-left: 4px;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    background-color: lightyellow;
}

.prettyprint.linenums li * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.params, .props {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    width: 80%;
}

.params .name, .props .name, .name code {
    color: #4D4E53;
    font-size: 15px;
}

.params td, .params th, .props td, .props th {
    margin: 0;
    text-align: left;
    vertical-align: top;
    padding: 4px 10px 0 0;
    display: table-cell;
}

.params thead tr, .props thead tr {
    background-color: #fff;
    font-weight: bold;
}

.params .params thead tr, .props .props thead tr {
    background-color: #fff;
    font-weight: bold;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}

h4.name {
    margin-top: 35px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

header h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}

h3.subsection-title {
    font-weight: normal;
    text-decoration: underline;
    margin: 35px 0 10px 0;
}

nav h2 {
    font-weight: normal;
    text-transform: uppercase;
}

article ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
    list-style-type: none;
}

.params, .props {
    font-size: 12px;
}

.params th, .props th {
    border-bottom: 1px solid whitesmoke;
}

.params .name > code, .props .name > code {
    font-size: 12px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: gray;
}

.params .type, .props .type {
    color: darkgrey;
}

.params .name, .params .type {
    width: 100px;
}

#mainpage h1, #mainpage h2, #mainpage h3, #mainpage h4, #mainpage h5 {
    font-weight: normal;
    margin: 20px 0 0 0;
}

#mainpage h4 {
    margin: 15px 0 0 0;
    border: 0;
}

#mainpage p {
    margin: 15px 0 0 0;
}

div.param-desc {
    font-size: 12px;
}

span.param-type {
    color: darkgray;
}
