html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: lightgrey;
    font-family: consolas, menlo, monaco, monospace;
    font-size: 12px;
}

canvas {
    margin: 0 auto;
    display: block;
}